.login-container {
    text-align: left;
}

.login-lead {
    font-weight: 700 !important;
}

.login-buttons-container {
    margin-top: 20px;
    text-align: right;
}

.login-submit-button {
    margin-left: 10px;
}