.settings-container {
  .form-group {
    margin-bottom: 20px;
  }

  .edit-avatar-container {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;

    .avatar-image {
      max-width: 100px;
    }
  }
}